@media all and (min-width: 700px) {
  nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: #fff;
    padding: 0px 5% 0px 5%;
    overflow: hidden;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    width: 80%;
    height: 100%;
    margin: 30px auto 0 auto;
  }

  .projects-section > p {
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
  }
  .copyright-container > p {
    text-align: center;
    color: #1b1b1b;
    line-height: 30px;
    position: relative;
    
  }
  
.a-nav-link {
  color: #fff;
}

  /* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
 prefers-reduced-motion {
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

/* 
  By default, we'll use the REDUCED MOTION version of the animation.
*/
@keyframes modal-enter {
  from {
    opacity: 0 ;
  }
  to {
    opacity: 1 ;
  }
}

/*
  Then, if the user has NO PREFERENCE for motion, we can OVERRIDE the
  animation definition to include both the motion and non-motion properties.
*/
@media ( prefers-reduced-motion: no-preference ) {
  @keyframes modal-enter {
    from {
      opacity: 0 ;
      transform: scale(0.7) ;
    }
    to {
      opacity: 1 ;
      transform: scale(1.0) ;
    }
  }
}

  .main-logo {
    width: 100px;
    position: relative;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0.6s;
  }

  .main-logo:hover {
    transform: rotate(360deg);
  }

  #nav-links > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  li > a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    line-height: 30px;
    margin: 0 20px 0 20px;
    font-weight: normal;
    font-size: 20px;
  }

  #toogle {
    display: none;
  }

  .my-mobile-image-container {
    display: none;
  }

  .css-typewriting-container .static-text {
    font-size: 55px;
    color: #e1e1e1;
    font-weight: 700;
  }

  .css-typewriting-container .dynamic-text {
    margin-left: 15px;
    height: 56px;
    font-size: 55px;
    font-weight: 700;
  }

  .dynamic-text li {
    list-style: none;
    color: #fdde6d;
  }

  .dynamic-text li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 65px;
    width: 100%;
    background: #131517;
    border-left: 2px solid #fdde6d;
    animation: typing 2.5s steps(10) infinite;
  }

  .css-typewriting-container-2 .static-text-2 {
    font-weight: 300;
    font-size: 30px;
    color: #e1e1e1;
  }

  .css-typewriting-container-2 .dynamic-text-2 {
    margin-left: 10px;
    height: 33px;
    font-size: 30px;
    font-weight: 400;
    overflow: hidden;
  }

  .dynamic-text-2 li {
    list-style: none;
    color: #fdde6d;
    position: relative;
    top: 0;
    animation: slide-2 15s steps(3) infinite;
  }

  .download-cv:hover {
    background-color: #131517;
    color: #fdde6d !important;
    border: 1px solid #fdde6d;
    transition: all 0.5s ease-in-out;
  }

  .about-me-content > p {
    font-size: 20px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
    padding: 20px 150px 0px 0px;
  }

  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    width: 80%;
    height: 100%;
    margin: 30px auto 0 auto;
  }

  .projects-section > p {
    color: #ffffff;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    line-height: 60px;
  }

  .my-image-container {
    position: relative;
    transition-property: margin-top;
    transition-duration: 1s;
    transition-timing-function: linear;
  }

  .my-image-container:hover {
    margin-top: -20px;
  }

  @keyframes typing-2 {
    100% {
      left: 100%;
      margin: 0 -30px 0 30px;
    }
  }

  @keyframes slide-2 {
    100% {
      top: -105px;
      margin: 0 0 0 0;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
      border-radius: 100%;
    }

    100% {
      transform: rotate(360deg);
      border-radius: 100%;
    }
  }
}




@media all and (max-width: 1024px) {

  div.stacks-animation {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .copyright-container > p {
    text-align: center;
    color: #1b1b1b;
    line-height: 30px;
    position: relative;
    
  }

 .adjust {
    
    margin-right: 5.5rem;
  }

  .interests>h3, .interests-items {
    display: grid;
  flex-direction: column;
    grid-template-columns: repeat(9, 1fr);
    position: relative;
   right: 2rem;
   margin-left: 12rem;
  }
   
  .resume {
    width: 960px;
    background: #0d0d0d;
    color: #fff;
    margin: 20px auto;
    
    
    display: grid;
    
  }
  .resume .base,
  .resume .func {
    box-sizing: border-box;
    float: left;
   
  }
  .resume .base > div,
  .resume .func > div {
    padding-bottom: 10px;
    display: grid;
  }
  .resume .base > div:last-of-type,
  .resume .func > div:last-of-type {
    padding-bottom: 0;
    display: grid;  justify-content: center;
  }
  .resume .base {
    width: 30%;
    padding: 30px 15px;
    background: #0d0d0d;
    color: #fff;
    display: grid;
  }
  .resume .base .profile {
    background: #fdde6d;
    padding: 30px 15px 40px 15px;
    margin: -30px -15px 45px -15px;
    position: relative;
    z-index: 2;
  }
  .resume .base .profile::after {
    content: "";
    position: absolute;
    background: #0d0d0d;
    width: 100%;
    height: 30px;
    bottom: -15px;
    left: 0;
    transform: skewY(-5deg);
    z-index: -1;
  }
  .resume .base .profile .photo img {
    width: 100%;
    border-radius: 50%;
  }
  .resume .base .profile .photo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resume .base .profile .fa-rocket {
    font-size: 100px;
    text-align: center;
    margin: auto;
    color: #0d0d0d;
  }
  .resume .base .profile .info {
    text-align: center;
    color: #fff;
  }
  .resume .base .profile .info .name {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.75em;
    text-transform: lowercase;
    color: #0d0d0d;
  }
  .resume .base .profile .info .job {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.5em;
    text-transform: lowercase;
    color: #0d0d0d;
  }
  .resume .base .contact div {
    line-height: 24px;
    display: grid;
  }
  .resume .base .contact div a:hover {
    color: #fdde6d;
  }
  .resume .base .contact div a:hover span::after {
    width: 100%;
  }
  .resume .base .contact div:hover i {
    color: #fdde6d;
  }
  .resume .base .contact div i {
    color: #fdde6d;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 15px;
    transition-duration: 0.3s;
  }
  .resume .base .contact div span {
    position: relative;
  }
  .resume .base .contact div span::after {
    content: "";
    position: absolute;
    background: #fdde6d;
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
    transition-duration: 0.3s;
  }
  .resume .base .follow .box {
    text-align: center;
    vertical-align: middle;
  }
  .resume .base .follow .box a {
    display: inline-block;
    vertical-align: text-bottom;
  }
  .resume .base .follow .box a:hover i {
    background: #fdde6d;
    border-radius: 5px;
    transform: rotate(45deg) scale(0.8);
  }
  .resume .base .follow .box a:hover i::before {
    transform: rotate(-45deg) scale(1.5);
  }
  .resume .base .follow .box i {
    display: inline-block;
    font-size: 30px;
    background: #fdde6d;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    color: #0d0d0d;
    margin: 0 10px 10px 10px;
    transition-duration: 0.3s;
  }
  .resume .base .follow .box i::before {
    transition-duration: 0.3s;
  }
  .resume .base .follow .box i.fa::before {
    display: block;
  }
  .resume .func {
    width: 100%;
    padding: 30px;
    display: grid;
  }
  .resume .func:hover > div {
    transition-duration: 0.5s;
  }
  .resume .func:hover > div:hover h3 i {
    transform: scale(1.25);
  }
  .resume .func:hover > div:not(:hover) {
    opacity: 0.5;
  }
  .resume .func h3 {
    transition-duration: 0.3s;
    margin-top: 0;
  }
  .resume .func h3 i {
    color: #0d0d0d;
    background: #fdde6d;
    width: 42px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 8px;
    transition-duration: 0.3s;
    display: grid;
  }
  .resume .func .work,
  .resume .func .edu {
    float: left;
  }
  .resume .func .work small,
  .resume .func .edu small {
    display: grid;
    opacity: 0.7;
  
  }
  .resume .func .work ul li,
  .resume .func .edu ul li {
    position: relative;
    margin-left: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
  }
  .resume .func .work ul li:hover::before,
  .resume .func .edu ul li:hover::before {
    animation: circle 1.2s infinite;
  }
  .resume .func .work ul li:hover span,
  .resume .func .edu ul li:hover span {
    color: #fdde6d;
  }
  @keyframes circle {
    from {
      box-shadow: 0 0 0 0px #fdde6d;
    }
    to {
      box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
    }
  }
  .resume .func .work ul li:first-of-type::before,
  .resume .func .edu ul li:first-of-type::before {
    width: 10px;
    height: 10px;
    left: 1px;
    display: grid;
  }
  .resume .func .work ul li:last-of-type,
  .resume .func .edu ul li:last-of-type {
    padding-bottom: 3px;
  }
  .resume .func .work ul li:last-of-type::after,
  .resume .func .edu ul li:last-of-type::after {
    border-radius: 1.5px;
  }
  .resume .func .work ul li::before,
  .resume .func .work ul li::after,
  .resume .func .edu ul li::before,
  .resume .func .edu ul li::after {
    content: "";
    display: grid;
    position: absolute;
  }
  .resume .func .work ul li::before,
  .resume .func .edu ul li::before {
    width: 7px;
    height: 7px;
    border: 3px solid #fff;
    background: #fdde6d;
    border-radius: 50%;
    left: 3px;
    z-index: 1;
  }
  .resume .func .work ul li::after,
  .resume .func .edu ul li::after {
    width: 3px;
    height: 100%;
    background: #fff;
    left: 5px;
    top: 0;
  }
  .resume .func .work ul li span,
  .resume .func .edu ul li span {
    transition-duration: 0.3s;
  }
  .resume .func .work {
    width: 48%;
    background: #0d0d0d;
    padding: 15px;
    margin: 0 4% 15px 0;
  }
  .resume .func .edu {
    width: 48%;
    background: #0d0d0d;
    padding: 15px;
  }
  .resume .func .skills-prog {
    clear: both;
    background: #0d0d0d;
    padding: 15px;
    align-content: center;
    position: relative;
    width: 350px;
    
  }
  .resume .func .skills-prog ul {
    margin-left: 45px;
  }
  .resume .func .skills-prog ul li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    transition-duration: 0.3s;
    position: relative;
    left: 12rem;
  }
  .resume .func .skills-prog ul li:hover {
    color: #fdde6d;
  }
  .resume .func .skills-prog ul li:hover .skills-bar .bar {
    background: #fdde6d;
    box-shadow: 0 0 0 1px #fdde6d;
  }
  .resume .func .skills-prog ul li span {
    display: block;
    width: 120px;
  }
  .resume .func .skills-prog ul li .skills-bar {
    background: #fff;
    height: 2px;
    width: calc(100% - 120px);
    position: relative;
    border-radius: 2px;
  }
  .resume .func .skills-prog ul li .skills-bar .bar {
    position: absolute;
    top: -1px;
    height: 4px;
    background: #fdde6d;
    box-shadow: 0 0 0 #fdde6d;
    border-radius: 5px;
  }
  .resume .func .skills-soft {
    clear: both;
    background: #0d0d0d;
    padding: 15px;
    margin: 15px 0 0;
  }
  .resume .func .skills-soft ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .resume .func .skills-soft ul li {
    position: relative;
  }
  .resume .func .skills-soft ul li:hover svg .cbar {
    stroke: #fdde6d;
    stroke-width: 4px;
  }
  .resume .func .skills-soft ul li:hover span,
  .resume .func .skills-soft ul li:hover small {
    transform: scale(1.2);
  }
  .resume .func .skills-soft ul li svg {
    width: 95%;
    fill: transparent;
    transform: rotate(-90deg);
  }
  .resume .func .skills-soft ul li svg circle {
    stroke-width: 1px;
    stroke: #fff;
  }
  .resume .func .skills-soft ul li svg .cbar {
    stroke-width: 3px;
    stroke: #fdde6d;
    stroke-linecap: round;
  }
  .resume .func .skills-soft ul li span,
  .resume .func .skills-soft ul li small {
    position: absolute;
    display: block;
    width: 100%;
    top: 52%;
    transition-duration: 0.3s;
  }
  .resume .func .skills-soft ul li span {
    top: 40%;
  }
  .resume .func .interests {
    background: #0d0d0d;
    margin: 15px 0 0;
    padding: 15px;
    position: relative;
    right: 2.5rem;
    display: grid;
  }
  .resume .func .interests-items {
    box-sizing: border-box;
    padding: 0 0 15px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
   
  }
  .resume .func .interests-items div {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    right: 13rem;
    grid-template-columns: 1fr;
  
  }
  .resume .func .interests-items div:hover i {
    transform: scale(1.2);
  }
  .resume .func .interests-items div:hover span {
    color: #fdde6d;
    transition-duration: 0.3s;
  }
  .resume .func .interests-items div i {
    font-size: 45px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fdde6d;
    transition-duration: 0.3s;
  }
  .resume .func .interests-items div span {
    display: block;
  }
  
  
/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
prefers-reduced-motion {
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

/* 
  By default, we'll use the REDUCED MOTION version of the animation.
*/
@keyframes modal-enter {
  from {
    opacity: 0 ;
  }
  to {
    opacity: 1 ;
  }
}

/*
  Then, if the user has NO PREFERENCE for motion, we can OVERRIDE the
  animation definition to include both the motion and non-motion properties.
*/
@media ( prefers-reduced-motion: no-preference ) {
  @keyframes modal-enter {
    from {
      opacity: 0 ;
      transform: scale(0.7) ;
    }
    to {
      opacity: 1 ;
      transform: scale(1.0) ;
    }
  }
}





}


@media all and (min-width: 475px) {

  div.stacks-animation {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    text-align: center;
  }
  
  
  .resume {
    width: 960px;
    background: #0d0d0d;
    color: #fff;
    margin: 20px auto;
    
    
    display: grid;
    
  }
  .resume .base,
  .resume .func {
    box-sizing: border-box;
    float: left;
   
  }
  .resume .base > div,
  .resume .func > div {
    padding-bottom: 10px;
    display: grid;
  }
  .resume .base > div:last-of-type,
  .resume .func > div:last-of-type {
    padding-bottom: 0;
    display: grid;  justify-content: center;
  }
  .resume .base {
    width: 30%;
    padding: 30px 15px;
    background: #0d0d0d;
    color: #fff;
    display: grid;
  }
  .resume .base .profile {
    background: #fdde6d;
    padding: 30px 15px 40px 15px;
    margin: -30px -15px 45px -15px;
    position: relative;
    z-index: 2;
  }
  .resume .base .profile::after {
    content: "";
    position: absolute;
    background: #0d0d0d;
    width: 100%;
    height: 30px;
    bottom: -15px;
    left: 0;
    transform: skewY(-5deg);
    z-index: -1;
  }
  .resume .base .profile .photo img {
    width: 100%;
    border-radius: 50%;
  }
  .resume .base .profile .photo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .resume .base .profile .fa-rocket {
    font-size: 100px;
    text-align: center;
    margin: auto;
    color: #0d0d0d;
  }
  .resume .base .profile .info {
    text-align: center;
    color: #fff;
  }
  .resume .base .profile .info .name {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.75em;
    text-transform: lowercase;
    color: #0d0d0d;
  }
  .resume .base .profile .info .job {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.5em;
    text-transform: lowercase;
    color: #0d0d0d;
  }
  .resume .base .contact div {
    line-height: 24px;
    display: grid;
  }
  .resume .base .contact div a:hover {
    color: #fdde6d;
  }
  .resume .base .contact div a:hover span::after {
    width: 100%;
  }
  .resume .base .contact div:hover i {
    color: #fdde6d;
  }
  .resume .base .contact div i {
    color: #fdde6d;
    width: 20px;
    height: 20px;
    font-size: 20px;
    text-align: center;
    margin-right: 15px;
    transition-duration: 0.3s;
  }
  .resume .base .contact div span {
    position: relative;
  }
  .resume .base .contact div span::after {
    content: "";
    position: absolute;
    background: #fdde6d;
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
    transition-duration: 0.3s;
  }
  .resume .base .follow .box {
    text-align: center;
    vertical-align: middle;
  }
  .resume .base .follow .box a {
    display: inline-block;
    vertical-align: text-bottom;
  }
  .resume .base .follow .box a:hover i {
    background: #fdde6d;
    border-radius: 5px;
    transform: rotate(45deg) scale(0.8);
  }
  .resume .base .follow .box a:hover i::before {
    transform: rotate(-45deg) scale(1.5);
  }
  .resume .base .follow .box i {
    display: inline-block;
    font-size: 30px;
    background: #fdde6d;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    color: #0d0d0d;
    margin: 0 10px 10px 10px;
    transition-duration: 0.3s;
  }
  .resume .base .follow .box i::before {
    transition-duration: 0.3s;
  }
  .resume .base .follow .box i.fa::before {
    display: block;
  }
  .resume .func {
    width: 100%;
    padding: 30px;
    display: grid;
  }
  .resume .func:hover > div {
    transition-duration: 0.5s;
  }
  .resume .func:hover > div:hover h3 i {
    transform: scale(1.25);
  }
  .resume .func:hover > div:not(:hover) {
    opacity: 0.5;
  }
  .resume .func h3 {
    transition-duration: 0.3s;
    margin-top: 0;
  }
  .resume .func h3 i {
    color: #0d0d0d;
    background: #fdde6d;
    width: 42px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    margin-right: 8px;
    transition-duration: 0.3s;
    display: grid;
  }
  .resume .func .work,
  .resume .func .edu {
    float: left;
  }
  .resume .func .work small,
  .resume .func .edu small {
    display: grid;
    opacity: 0.7;
  
  }
  .resume .func .work ul li,
  .resume .func .edu ul li {
    position: relative;
    margin-left: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
  }
  .resume .func .work ul li:hover::before,
  .resume .func .edu ul li:hover::before {
    animation: circle 1.2s infinite;
  }
  .resume .func .work ul li:hover span,
  .resume .func .edu ul li:hover span {
    color: #fdde6d;
  }
  @keyframes circle {
    from {
      box-shadow: 0 0 0 0px #fdde6d;
    }
    to {
      box-shadow: 0 0 0 6px rgba(255, 255, 255, 0);
    }
  }
  .resume .func .work ul li:first-of-type::before,
  .resume .func .edu ul li:first-of-type::before {
    width: 10px;
    height: 10px;
    left: 1px;
    display: grid;
  }
  .resume .func .work ul li:last-of-type,
  .resume .func .edu ul li:last-of-type {
    padding-bottom: 3px;
  }
  .resume .func .work ul li:last-of-type::after,
  .resume .func .edu ul li:last-of-type::after {
    border-radius: 1.5px;
  }
  .resume .func .work ul li::before,
  .resume .func .work ul li::after,
  .resume .func .edu ul li::before,
  .resume .func .edu ul li::after {
    content: "";
    display: grid;
    position: absolute;
  }
  .resume .func .work ul li::before,
  .resume .func .edu ul li::before {
    width: 7px;
    height: 7px;
    border: 3px solid #fff;
    background: #fdde6d;
    border-radius: 50%;
    left: 3px;
    z-index: 1;
  }
  .resume .func .work ul li::after,
  .resume .func .edu ul li::after {
    width: 3px;
    height: 100%;
    background: #fff;
    left: 5px;
    top: 0;
  }
  .resume .func .work ul li span,
  .resume .func .edu ul li span {
    transition-duration: 0.3s;
  }
  .resume .func .work {
    width: 48%;
    background: #0d0d0d;
    padding: 15px;
    margin: 0 4% 15px 0;
  }
  .resume .func .edu {
    width: 48%;
    background: #0d0d0d;
    padding: 15px;
  }
  .resume .func .skills-prog {
    clear: both;
    background: #0d0d0d;
    padding: 15px;
    align-content: center;
    position: relative;
  
    
  }
  .resume .func .skills-prog ul {
    margin-left: 15px;
  }
  .resume .func .skills-prog ul li {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    transition-duration: 0.3s;
  }
  .resume .func .skills-prog ul li:hover {
    color: #fdde6d;
  }
  .resume .func .skills-prog ul li:hover .skills-bar .bar {
    background: #fdde6d;
    box-shadow: 0 0 0 1px #fdde6d;
  }
  .resume .func .skills-prog ul li span {
    display: block;
    width: 120px;
  }
  .resume .func .skills-prog ul li .skills-bar {
    background: #fff;
    height: 2px;
    width: calc(100% - 120px);
    position: relative;
    border-radius: 2px;
  }
  .resume .func .skills-prog ul li .skills-bar .bar {
    position: absolute;
    top: -1px;
    height: 4px;
    background: #fdde6d;
    box-shadow: 0 0 0 #fdde6d;
    border-radius: 5px;
  }
  .resume .func .skills-soft {
    clear: both;
    background: #0d0d0d;
    padding: 15px;
    margin: 15px 0 0;
  }
  .resume .func .skills-soft ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  .resume .func .skills-soft ul li {
    position: relative;
  }
  .resume .func .skills-soft ul li:hover svg .cbar {
    stroke: #fdde6d;
    stroke-width: 4px;
  }
  .resume .func .skills-soft ul li:hover span,
  .resume .func .skills-soft ul li:hover small {
    transform: scale(1.2);
  }
  .resume .func .skills-soft ul li svg {
    width: 95%;
    fill: transparent;
    transform: rotate(-90deg);
  }
  .resume .func .skills-soft ul li svg circle {
    stroke-width: 1px;
    stroke: #fff;
  }
  .resume .func .skills-soft ul li svg .cbar {
    stroke-width: 3px;
    stroke: #fdde6d;
    stroke-linecap: round;
  }
  .resume .func .skills-soft ul li span,
  .resume .func .skills-soft ul li small {
    position: absolute;
    display: block;
    width: 100%;
    top: 52%;
    transition-duration: 0.3s;
  }
  .resume .func .skills-soft ul li span {
    top: 40%;
  }
  .resume .func .interests {
    background: #0d0d0d;
    margin: 15px 0 0;
    padding: 15px;
  }
  .resume .func .interests-items {
    box-sizing: border-box;
    padding: 0 0 15px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
   
  }
  .resume .func .interests-items div {
    display: grid;
    grid-template-columns: 1fr;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    right: 13rem;
  
  }
  .resume .func .interests-items div:hover i {
    transform: scale(1.2);
  }
  .resume .func .interests-items div:hover span {
    color: #fdde6d;
    transition-duration: 0.3s;
  }
  .resume .func .interests-items div i {
    font-size: 45px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fdde6d;
    transition-duration: 0.3s;
  }
  .resume .func .interests-items div span {
    display: block;
  }
  
  


/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
prefers-reduced-motion {
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}

/* 
  By default, we'll use the REDUCED MOTION version of the animation.
*/
@keyframes modal-enter {
  from {
    opacity: 0 ;
  }
  to {
    opacity: 1 ;
  }
}

/*
  Then, if the user has NO PREFERENCE for motion, we can OVERRIDE the
  animation definition to include both the motion and non-motion properties.
*/
@media ( prefers-reduced-motion: no-preference ) {
  @keyframes modal-enter {
    from {
      opacity: 0 ;
      transform: scale(0.7) ;
    }
    to {
      opacity: 1 ;
      transform: scale(1.0) ;
    }
  }
}




}